header.loginCqcfe-header {
    width: 100%;
    height: 100x;
    color: #ffffff;
    background-color: #1a56db;
    
    p.sub-title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 100px;
    }
}